{%  extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-lg-offset-3">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                Tasks
                <div class="pull-right" >
                    <a href="{{ url('add_task') }}" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Add Task">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                {% if tasks is empty %}
                    <p>You are all done!</p>
                {% else %}

                    <div class="list-group">
                        {% for task in tasks %}
                            {% if not task.completed %}
                                <a class="list-group-item {{ task.expired ? 'list-group-item-danger' : '' }}" href="{{ url('show_task', {'id': task.id}) }}">
                                    {{ task.title }}
                                    <div class="text-muted">{{ task.deadline.format('Y-m-d H:i') }}</div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                Tasks
            </div>
            <div class="panel-body">
                {% if tasks is empty %}
                    <p>You are all done!</p>
                {% else %}

                    <div class="list-group">
                        {% for task in tasks %}
                            {% if task.completed %}
                                <a class="list-group-item" href="#">{{ task.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}